@{
    ViewData["Title"] = "Home Page";
}

<a asp-action="Create">
    Agregar
</a>
<table class="table">
    @* @ForEach(var item in Model)
    {
        <tr>
            <td></td>
        </tr>
    } *@
</table>